<template>
    <div class="ui pagination menu" v-show="totalPages > 1">
        <a class="icon item" v-bind:class="{ 'disabled': noPrevious }" v-on:click="selectPage(pageNo - 1)">
            <i class="icon left arrow"></i>
        </a>
        <a class="item" v-for="page in pages" track-by="$index"
           v-bind:class="{ 'active': page.number == pageNo, 'disabled': page.disabled }"
           v-on:click="selectPage(page.number)">
            {{page.text}}
        </a>
        <a class="icon item" v-bind:class="{ 'disabled': noNext }" v-on:click="selectPage(pageNo + 1)">
            <i class="icon right arrow"></i>
        </a>
    </div>
</template>