<!doctype html>
<html>
<head>
    <title>Vue Pagination Demo</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body id="example">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <input type="number" readonly="readonly" value="{{pageNo}}" />
                <input type="number" min="1" v-model="pageSize" />
                <input type="number" min="0" v-model="totalResult" />
                <button class="btn btn-default" v-on:click="search()">change totalResult</button>
                <pagination class="text-center" v-on:page-change="pageChange(pageNo)" :page-no.sync="pageNo" :page-size.sync="pageSize" :total-result="totalResult"></pagination>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/vue/1.0.14/vue.min.js"></script>
    <script src="vue-pagination.js"></script>

    <!-- bootstrap -->
    <template id="pagination">
        <nav v-show="totalPages > 1">
            <ul class="pagination">
                <li>
                    <a style="cursor:pointer;" v-if="!noPrevious" v-on:click="selectPage(pageNo - 1)" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li v-for="page in pages" v-bind:class="{ 'active': page.number == pageNo, 'disabled': page.disabled }">
                    <a style="cursor:pointer;" v-on:click="selectPage(page.number)">{{page.text}}</a>
                </li>
                <li>
                    <a style="cursor:pointer;" v-if="!noNext" v-on:click="selectPage(pageNo + 1)" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </template>

    <script>
        // 创建根实例
        new Vue({
            el: '#example',
            data: {
                pageNo: 1,
                pageSize: 10,
                totalResult: 11,
            },
            //// 在创建实例时 `events` 选项简单地调用 `$on`
            //events: {
            //    'page-change': function (pageNo) {
            //        console.log('page-change', this.pageNo);
            //    }
            //},
            methods: {
                search: function () {
                    //ajax
                    this.pageNo = 1;
                    this.totalResult = parseInt(Math.random() * 1000, 10)
                },
                pageChange: function (num) {
                    console.log('pageChange', num);
                },
            },
        })
    </script>

</body>
</html>