<!doctype html>
<html>
<head>
    <title>Vue Pagination Demo</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div id="example">
                <pagination page-no="1" page-size="2" total-result="13333"></pagination>
            </div>
        </div>
    </div>

    <script src="http://cdn.bootcss.com/vue/1.0.14/vue.min.js"></script>
    <script src="vue-pagination.js"></script>

    <!-- bootstrap -->
    <template id="pagination">
        <nav>
            <ul class="pagination">
                <li>
                    <a style="cursor:pointer;" v-if="!noPrevious" v-on:click="selectPage(pageNo - 1)" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li v-for="page in pages" v-bind:class="{ 'active': page.active, 'disabled': page.disabled }">
                    <a style="cursor:pointer;" v-on:click="selectPage(page.number)">{{page.text}}</a>
                </li>
                <li>
                    <a style="cursor:pointer;" v-if="!noNext" v-on:click="selectPage(pageNo + 1)" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </template>

    <!-- semantic ui -->
    <!--<template id="pagination">
        <div class="ui pagination menu">
            <a class="icon item" v-bind:class="{ 'disabled' : noPrevious }" v-on:click="selectPage(pageNo - 1)">
                <i class="icon left arrow"></i>
            </a>
            <a class="item" v-for="page in pages"
               v-bind:class="{ 'active': page.active, 'disabled': page.disabled }"
               v-on:click="selectPage(page.number)">
                {{page.text}}
            </a>
            <a class="icon item" v-bind:class="{ 'disabled': noNext }" v-on:click="selectPage(pageNo + 1)">
                <i class="icon right arrow"></i>
            </a>
        </div>
    </template>-->

    <script>
        // 创建根实例
        new Vue({
            el: '#example',
            data: {
                pageNo: 1,
                pageSize: 10,
                totalResult: 100,
            },
            // 在创建实例时 `events` 选项简单地调用 `$on`
            events: {
                'page-change': function (pageNo) {
                    console.log('page-change', pageNo);
                }
            }
        })
    </script>

</body>
</html>